<form action="/signup" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name" required />
      </div>
    <div>
    <div>
      <label>Username:</label>
      <input type="text" name="username" required/><br />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" required/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required/>
      </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
  